.notesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 500px;
  width: 1300px;
  font-size: 15px;
}

.tab {
  width: 1200px;
}
.ant-tabs.ant-tabs-top.ant-tabs-card.tab.css-dev-only-do-not-override-98ntnt {
  background: #e9e7e7;
}
/* ant-tabs ant-tabs-top ant-tabs-card tab css-dev-only-do-not-override-98ntnt */
