.selectContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 200px;
  width: 1200px;
}
h2 {
  padding: 15px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.image {
  width: 550px;
  height: 120px;
  margin-bottom: 350px;
  margin-top: 50px;
}
.navBar {
  background-color: transparent;
}
.container {
  margin-top: 20px;
  margin-bottom: 350px;
}
