@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 253, 253);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header .logo .icon {
  width: 220px;
  height: 60px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 20px;
}

.usericon {
  background-color: #888;
  width: 40px;
  height: 35px;
  padding-left: 10px;
  padding-top: 6px;
  border-radius: 50%;
  color: white;
  margin-right: 35px;
}
.usericon:hover {
  background-color: #0366a0;
}

.text {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin-right: 40px;
  color: #1677ff;
  align-items: center;
  /* margin-bottom: 20px; */
}
.icon {
  font-size: 40px;
  color: #0466a0;
  margin-right: 20px;
}
button {
  margin-right: 25px;
  padding: 5px 15px;
  background-color: #1677ff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 90%;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s linear;
}
button:hover {
  background-color: #0366a0;
}
