.BarProgressChart {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
}
.recharts-wrapper {
  margin-top: 20px;
}
.recharts-bar-rectangle {
  border-radius: 10px;
}
